
.SettingsPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__Main {
    min-width: 990px;
    min-height: 100%;
    margin-top: 5.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
