
.TopNavMenu {

  &__Header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    border-bottom: 1px solid #ccc;
    padding: 0 1rem;

    &__Avatar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 1rem;

      div {
        width: 4rem;
        height: 4rem;
        border-radius: 8rem;
        background-size: cover;
        background-position: center;
      }
    }

    &__Name {
      font-size: 1.2rem;
      font-weight: 400;
    }

    &__Email {
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 400;
      color: #888;
      line-height: 1.25rem;
      text-overflow: ellipsis;
      overflow-x: hidden;
      max-width: 120px;
    }

    &__Info {
      flex: 1 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
